@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam</h1>
    <h1 class="display-6">Jesteś na stronie internetowej wykonanej do zaliczenia przedmiotu</h1>
    <h1 class="display-7">"Programowanie w środowiskach rozproszonych"</h1>
    <h1 class="display-7">Nr albumu: 37652</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
