@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@

<div class="text-left">
    <h1 class="display-4">Witam</h1>
    <h1 class="display-6">Jesteś na stronie internetowej wykonanej do zaliczenia przedmiotu - </h1>
    <h1 class="display-7">"Programowanie w środowiskach rozproszonych"</h1>
    <h1 class="display-7">Nr albumu: 37652</h1>
</div>
@* <p>Use this page to detail your site's privacy policy.</p> *@
@* <p>Use this page to detail your site's privacy policy.</p> *@
